Flask>=2.3.3
waitress>=2.1.2
gunicorn>=22.0.0
numpy>=1.24
pandas>=2.2
scikit-learn>=1.4
xgboost>=1.7
MetaTrader5>=5.0.47; platform_system == "Windows"
yfinance>=0.2.18
boto3>=1.26  # optional, only if you’re using S3
